[data-brix_class="1427764333546"]{

    font-family: '...';
    text-align: center;
}
[data-brix_class="1427764243757"]{

    font-family: '...';
}
[data-brix_class="1427764237325"]{

    font-family: '...';
}
[data-brix_class="1427764230612"]{

    font-family: '...';
}
[data-brix_class="1427764224711"]{

    font-family: '...';
}
[data-brix_class="1427764216813"]{

    font-family: '...';
}
[data-brix_class="1427764209461"]{

    font-family: '...';
}
[data-brix_class="1427764204006"]{

    font-family: '...';
}
[data-brix_class="1427764197943"]{

    font-family: '...';
}
[data-brix_class="1427764185600"]{

    font-family: '...';
}
[data-brix_class="1427764175464"]{

    font-family: '...';
}
[data-brix_class="1427764165633"]{

    font-family: '...';
}
